/* Put your CSS here */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 1280px;
}

a {
  color: #000;
  overflow: visible;
  display: block;
  word-break: none;
}

a:hover {
  color: #ff43ca;
  text-decoration: none;
}

.logo {
  font-size: 64px;
}

.clear {
  clear: both;
  display: block;
}

.line {
  line-height: 0px;
  clear: both;
  display: block;
}

.line .details {
  clear: both;
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  line-height: 16px;
  width: 500px;
}

.line h3 {
  float: left;
}

body {
  z-index: 1;
}

html {
  overflow-y: scroll;
}

.header {
  padding: 20px;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  border-right: 50px solid #ff43ca;
  color: #000;
}

.header .r {
  color: #ffd642;
}
.header .g {
  color: #42ff78;
}
.header .b {
  color: #426bff;
}

.header a {
  color: #fff;
}

.header a:hover {
  color: #fff;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
}

.rfloat {
  float: right;
}

.lfloat {
  float: left;
}
