/* Put your CSS here */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 1280px;
}

a {
  color: #000;
  overflow: visible;
  display: block;
  word-break: none;
}

a:hover {
  color: #ff43ca;
  text-decoration: none;
}

.logo {
  font-size: 64px;
}

.clear {
  clear: both;
  display: block;
}
